{% extends 'base.twig' %}

{% block title %}Administratorzy{% endblock %}

{% block content %}
    <div class="tse-scrollable wrapper horizontal">
        <div class="tse-content" id="tiles-movable-content">
            {% if Stat.getPerms('acl|backend|index') %}
                <div class="tiles-wrap with-stats {{ Convert.number_to_words(3) }}elements">
                    <span class="after">&nbsp;</span>
                    <div id="tiles" class="{{ Convert.number_to_words(1) }}elements">
                        <a href="{{ System.url('admins/backend/add')|raw }}" class="tile">
                            <i class="fa fa-plus"></i>
                            <h4>Dodaj administratora</h4>
                        </a>
                    </div>
                    <div id="tiles-stats" class="links-override {{ Convert.number_to_words(2) }}elements">
                        <a href="{{ System.url('admins/backend/index')|raw }}" class="tile active">
                            <i class="fa fa-users"></i>
                            <h4>Administratorzy</h4>
                        </a>
                        <a href="{{ System.url('acl/backend/index')|raw }}" class="tile">
                            <i class="icomoon icon-business"></i>
                            <h4>Role administratorów</h4>
                        </a>
                    </div>
                    <div class="clr"></div>
                </div>
            {% else %}
                <div class="tiles-wrap {{ Convert.number_to_words(1) }}elements">
                    <span class="after">&nbsp;</span>
                    <div id="tiles" class="{{ Convert.number_to_words(1) }}elements">
                        <a href="{{ System.url('admins/backend/add')|raw }}" class="tile">
                            <i class="fa fa-plus"></i>
                            <h4>Dodaj administratora</h4>
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="tile-arrows-wrap">
        {% if Stat.getPerms('acl|backend|index') %}
            <div class="responsive-tile-arrows {{ Convert.number_to_words(3) }}elements">
                <a href="#" id="tilesMoveLeft" class="fa fa-long-arrow-left"></a>
                <a href="#" id="tilesMoveRight" class="fa fa-long-arrow-right"></a>
            </div>
        {% endif %}
    </div>
    <div class="listing">
        {{ System.getMessages()|raw }}
        <div class="materialtable-sh-wrap">
            <div class="sh-filter-wrap">
                <div class="input search-input">
                    <a class="clear-filters" data-clearstate="false" data-inpid="main-listing-search" href="#">wyczyść filtry</a>
                    <input id="main-listing-search" class="listing-filters" type="text" value="" />
                </div>
            </div>
            <div class="show-numbers">
                <span>Pokazywane </span>
                    <div class="select">
                        <div class="select-cnt">
                            <div class="select-cnt-inner">
                                <select name="listing-limit" class="fancy-sel-noblank" id="main-listing-limit">
                                    <option value="5">5</option>
                                    <option value="10" selected="selected">10</option>
                                    <option value="20">20</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                            </div>
                        </div>
                    </div>
                <span> wyników</span>
            </div>
            <table id="main-listing" class="materialtable">
                <thead>
                <tr>
                    <th data-sort="false">LP</th>
                    <th class="textL" data-sort="realname">Nazwa wyświetlana</th>
                    <th class="textL" data-sort="mail" data-hide="700">Adres e-mail</th>
                    <th data-sort="active" data-hide="700">Zablokowany</th>
                    <th data-sort="false" data-hide="800">Opcje</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <div id="main-listing-counting" class="listing-number-provider">
                <p>Pokazywane <span>od <span class="number count_from">5</span></span> <span>do <span class="number count_to">10</span></span> z <span class="number count_all">57</span> wyników</p>
            </div>
            <div id="main-listing-pagination" class="listing-pagination">
                <ul>
                    <li class="materialtable-page-arrow materialtable-page-first"><a data-page="first" href="#first">«</a></li>
                    <li class="materialtable-page-arrow materialtable-page-prev"><a data-page="prev" href="#prev">‹</a></li>
                    <li class="materialtable-page-arrow materialtable-limit-prev" style="display: none;"><a data-page="limit-prev" href="#limit-prev">...</a></li>
                    <li class="materialtable-page-arrow materialtable-limit-next"><a data-page="limit-next" href="#limit-next">...</a></li>
                    <li class="materialtable-page-arrow materialtable-page-next"><a data-page="next" href="#next">›</a></li>
                    <li class="materialtable-page-arrow materialtable-page-last"><a data-page="last" href="#last">»</a></li>
                </ul>
            </div>
            <div class="clr"></div>
        </div>
    </div>
{% endblock %}

{% block headscript %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#main-listing').materialtable2({
                href: '{{ System.url('admins/backend/index')|raw }}',
                order: ['realname', 'asc']
            });
        });
    </script>
{% endblock %}